
.cardnum{
	font-size: 16px;
	font-weight: bold;
	color:#F46E65;
}

.votemark{
	position: relative;
}

 .votemark:after{
	 content: '';
	 width: 0; 
	 height: 0;
	 border-top-right-radius: 4px;
	 border: 25px solid #555; 
	 border-color: #555 #555 transparent transparent;
	 position: absolute;
	 top: 1px;
	 right: 9px;
 }

 .markicon{
	 position: absolute;
	 top: 8px;
	 right: 5px;
	 z-index: 900;
	 color: #fff;
	 font-size: 17px;
 }

.linemore{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

.lineone{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}