.linemore{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}

.text{
  padding: 10px;
}

.imgbox{
  height: auto;
  overflow: hidden;
  background-size: cover;
}

.card{
  margin-bottom: 20px;
}

:global{
  .ant-card-body{
    height: 100%;
  }
}