.card{
	margin: auto;
	margin-bottom: 10px; 
}
.card:last-child{
	margin-bottom: 80px;
}
.redirect:hover{
	cursor: pointer;
}

.fenlei{
	border: 1px solid #ec6149;
	color: #ec6149;
	padding:0 5px;
	border-radius: 3px;
	margin-right:5px; 
}

.footlabel{
	display: inline-block;
	padding:5px;
}