.header{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	z-index: 998;
	background: #404040;
	min-width: 900px;
}

.logout{
	margin-right: 20px;
	cursor: pointer;
	margin-left: 10px;
	color: #3dbd7d;
}