.slider{
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
}

:global(.ant-layout-sider-collapsed){
	width: 0 !important;
	img{
		display: none;
	}
}

.myslider{
	transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
