.slider{
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
}
:global(#my-sider .ant-layout-sider-collapsed img){
  display: none;
}

:global(#my-sider .ant-layout-sider-collapsed .anticon){
  font-size: 16px;
  margin-left: 8px;
}

:global(#my-sider .ant-layout-sider-collapsed .nav-text){
  display: none;
}

:global(#my-sider .ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after){
  display: none;
}